.projectList {
    background-color: rgb(10, 10, 15);
    /* width: 15vw; */
    min-width: 100vw;
    margin: 0px 10px 20px 0px;
    border-radius: 0px 5px 5px 0px;
    /* justify-content: center; */
    color: whitesmoke;
    /* text-align: center; */
    padding-left: 10px;
    height: fit-content;
}

.barsIcon {
    display:block;
    color: whitesmoke;
    text-align: left;
    margin: 15px auto 10px 10px;
}

.hideNav {
    display: none;
}

.showNav{
    display: block;
}

.projectList header {
    font-size: 22px;
    margin: 0px;
    border-radius: 0px 5px 0px 0px;
    height: 40px;
}

.projectList h3 {
    margin: 0px;
}

.addProjectButton {
    font-weight: bold;
}

.addProjectButton:hover {
    cursor: pointer;
    color: rgb(182, 182, 182);
}

.projectListUL {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.projectListUL li {
    list-style: none;
}

.navProjectTitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}

.navProjectTitle p {
    font-size: 17px;
    /* padding-bottom: 3px; */
}

.navProjectTitle, .logout {
    text-decoration: none;
    color: whitesmoke;
}

.logoutName {
    padding-bottom: 20px;
}

.navProjectTitle:hover, .logout:hover, .barsIcon:hover {
    cursor: pointer;
    color: rgb(182, 182, 182);
}

.treeIcon {
    display: inline-block;
    margin-right: 10px;
    /* color: rgb(17, 17, 31); */
  
}

.sideNavInput {
    height: 22px;
    border-style: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
}

.sideNavForm button {
    margin: 10px;
    align-items: stretch;
    border-radius: 3px;
    border-style: none;
    padding: 2px 7px;
}

.sideNavForm button:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1100px) {
    .projectList {
        background-color: rgb(10, 10, 15);
        width: 15vw;
        min-width: 230px;
        margin: 20px 10px 20px 0px;
        border-radius: 0px 5px 5px 0px;
        justify-content: center;
        color: whitesmoke;
        text-align: center;
        height: 95vh;
    }

    .navProjectTitle {
        justify-content: center;
    }

    .barsIcon {
        display: none;
    }
}