.homeBody {
    display: flex;
    flex-direction: row;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(17, 17, 31);
    display: flex;
    /* flex-direction: column; */
}