/* ***** general styling ***** */

.projectBody {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(17, 17, 31);
    color: whitesmoke;
}

.projectBody section {
    max-width: 600px;
    margin: 0 auto;
}

.projectName {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: rgb(39, 90, 92);
    margin: 20px 10px 10px 10px;
    /* width: 100%; */
    border-radius: 5px;
    width: 600px
}

.projectName h2 {
    margin-left: 10px;
}

.projectBody h4 {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}

.projectBody ul {
    list-style: none;
}

/* ***** fontawesome icon positioning ***** */

.headerPlus {
    margin-left: auto;
    margin-right: 10px;
}

.headerTrash {
    margin-right: 15px;
    margin-left: 15px;
}

.headerTrash:hover, .trashIcon:hover, .headerPlus:hover, .chevronIcon:hover, .plusIcon:hover {
    cursor: pointer;
}

.plusIcon {
    margin-right: 15px;
    margin-left: 15px;
 
}

.trashIconEnd {
    margin-left: auto;
    margin-right: 10px;
}

.trashIcon {
    margin-right: 15px;
    margin-left: 15px;
}

.chevronIcon {
    margin-right: 15px;
    margin-left: 25px;
}

.cancelIcon {
    margin-right: 0px;
    margin-left: auto;
    font-size: 22px;
}



/* ***** task count styling ***** */

.taskCount {
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

/* ***** conditional display for forms and accordian ***** */

.addForm {
    display: none;
}

.currentUl {
    display: none;
}

.active {
    display: block
}

.show {
    display: block;
    transition: .2 ease;
}

.rotate {
    transform: rotate(90deg);
    transition: .2s ease;
}

/* ***** Tasks ***** */

.taskGroup {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 400px;
    padding: 0px;
    margin: 5px 0px 5px;
    border-radius: 5px;
    height: 65px;
}

/* ** task colors ** */

.completedColor {
    background-color: rgb(3, 153, 15);
}

.lvlProject {
    background-color: rgb(115, 27, 27);
}

.lvlZero {
    background-color: rgb(115, 27, 27);
}

.lvlOne {
    background-color: rgb(156, 70, 30);
}

.lvlTwo {
    background-color: rgb(228, 150, 0);
}

.lvlThree {
    background-color: rgb(51, 75, 56);
}

/* ** add task form styling ** */

.newProjectForm {
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 95%;
}

.formButton {
    margin-left: auto;
    border-radius: 3px;
    border-style: none;
    background: whitesmoke;
    color: rgba(15, 15, 15, 0.925);
    padding: 0px 15px;
    font-weight: bold;
}

.newProjectInput {
    width: 60%;
    height: 22px;
    border-style: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    font-weight: bold;
}

@media only screen and (min-width: 1100px) { 

    .projectBody {
        display: flex;
        flex-direction: row;
        margin: auto;
        min-height: 100vh;
        height: 100%;
        background-color: rgb(17, 17, 31);
        color: whitesmoke;
    }
    

}